.navbar{
    background-color: rgb(56, 38, 154);
}
.postbtn{
    color: white;
    border-color: white;
}
.brand{
    color: white;
}
.form-control:focus{
    border-color: #ab47bc;
    box-shadow: 0 0 0 0.2rem rgba(171, 71, 188, 0.25) !important;
}
.signupPage{
    /* background-color: #ab47bc; */
    border: 2px solid black;
    border-radius: 10px;
}
#pageLogin{
    border: 2px solid black;
    border-radius: 10px;
}
#pageSignup{
    display: block;
}
.images img{
    width: 50px;
    height: 50px;
}
#postBox{
    display: none;
}
.selectedImg{
    border: 2px solid purple;
}
#posts{
    display: none;
}
.register{
    background-color: rgb(56, 38, 154);
    color: white;
}
.logbtn{
    background-color: #ab47bc;
}